<p>
  <b>Date:</b>
  <%=h @cash.date %>
</p>

<p>
  <b>Dr:</b>
  <%=f @cash.dr %>
</p>

<p>
  <b>Cr:</b>
  <%=f @cash.cr %>
</p>


<%= link_to 'Edit', edit_cash_path(@cash) %> |
<%= link_to 'Back', cashes_path %>