<h1>Listing inventories</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Materail</th>
    <th>Dr</th>
    <th>Cr</th>
  </tr>

<% @inventories.each do |inventory| %>
  <tr>
    <td><%=h inventory.date %></td>
    <td><%=h inventory.materail_id %></td>
    <td><%=h inventory.dr %></td>
    <td><%=h inventory.cr %></td>
    <td><%= link_to 'Show', inventory %></td>
    <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
    <td><%= link_to 'Destroy', inventory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New inventory', new_inventory_path %>