<p>
  <b>Date:</b>
  <%=h @inventory.date %>
</p>

<p>
  <b>Material:</b>
  <%=h @inventory.material_id %>
</p>

<p>
  <b>Dr:</b>
  <%=h @inventory.dr %>
</p>

<p>
  <b>Cr:</b>
  <%=h @inventory.cr %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>