<p>
  <b>Date:</b>
  <%=h @goods_cost.date %>
</p>

<p>
  <b>Dr:</b>
  <%=h @goods_cost.dr %>
</p>

<p>
  <b>Cr:</b>
  <%=h @goods_cost.cr %>
</p>


<%= link_to 'Edit', edit_goods_cost_path(@goods_cost) %> |
<%= link_to 'Back', goods_costs_path %>