<h1>Listing payable_items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Seq</th>
    <th>Visible</th>
  </tr>

<% @payable_items.each do |payable_item| %>
  <tr>
    <td><%=h payable_item.name %></td>
    <td><%=h payable_item.seq %></td>
    <td><%=h payable_item.visible %></td>
    <td><%= link_to 'Show', payable_item %></td>
    <td><%= link_to 'Edit', edit_payable_item_path(payable_item) %></td>
    <td><%= link_to 'Destroy', payable_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New payable_item', new_payable_item_path %>