<p>
  <b>Name:</b>
  <%=h @materail.name %>
</p>

<p>
  <b>Seq:</b>
  <%=h @materail.seq %>
</p>

<p>
  <b>Visible:</b>
  <%=h @materail.visible %>
</p>


<%= link_to 'Edit', edit_materail_path(@materail) %> |
<%= link_to 'Back', materails_path %>