
<% form_for(data_src) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :seq %><br />
    <%= f.text_field :seq %>
  </p>
  <p>
    <%= f.label :visible %><br />
    <%= f.check_box :visible %>
  </p>
  <p>
    <%= f.submit button_label %>
  </p>
<% end %>
