<p>
  <b>Name:</b>
  <%=h @material.name %>
</p>

<p>
  <b>Seq:</b>
  <%=h @material.seq %>
</p>

<p>
  <b>Visible:</b>
  <%=h @material.visible %>
</p>


<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>