<h1>Listing cogs</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Dr</th>
    <th>Cr</th>
  </tr>

<% @cogs.each do |cog| %>
  <tr>
    <td><%=h cog.date %></td>
    <td><%=h cog.dr %></td>
    <td><%=h cog.cr %></td>
    <td><%= link_to 'Show', cog %></td>
    <td><%= link_to 'Edit', edit_cog_path(cog) %></td>
    <td><%= link_to 'Destroy', cog, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cog', new_cog_path %>