<p>
  <b>Date:</b>
  <%=h @cog.date %>
</p>

<p>
  <b>Dr:</b>
  <%=h @cog.dr %>
</p>

<p>
  <b>Cr:</b>
  <%=h @cog.cr %>
</p>


<%= link_to 'Edit', edit_cog_path(@cog) %> |
<%= link_to 'Back', cogs_path %>