<h1>Listing sales</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Dr</th>
    <th>Cr</th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%=h sale.date %></td>
    <td><%=h sale.dr %></td>
    <td><%=h sale.cr %></td>
    <td><%= link_to 'Show', sale %></td>
    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
    <td><%= link_to 'Destroy', sale, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sale', new_sale_path %>